body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom right, #91ddd7, white);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.button {
  width: 125px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 8px;
  background: transparent;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  color: white;
}

.button:hover {
  background-color: #91ddd7;
  color: white;

  cursor: pointer;
}

.title-box {
  background-color: white;

  padding: 1rem;
  border-radius: 10px;
}

.text-content {
  background: linear-gradient(#91ddd7 15%, white 95%);
  border-radius: 15px;
  padding: 2rem;
  margin: 0px;
}

.box {
  border-radius: 75%;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.navbar-container {
  width: 250px;
}

.details-container {
  width: 250px;
}
